<template>
  <div id="app">

    <nav>
      <div class="nav-wrapper blue darken-1">
        <a href="#" class="brand-logo center">Cadastro de Usuário</a>
      </div>
    </nav>

    <div class="container">


      <ul class="collapsible">
        <li v-for="(erro, index) of errors" :key="index">
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            Campo
            <span class="new badge">{{ erro.field }}</span>
          </div>
          <div class="collapsible-body">
            <p>{{ erro.defaultMessage }}</p>
          </div>
        </li>
      </ul>

      <form @submit.prevent="save">

        <label>Apelido</label>
        <input type="text" placeholder="Digite um apelido para seu perfil" v-model="user.userName" required>
        <label>E-mail</label>
        <input type="email" placeholder="Digite um e-mail para sua conta" v-model="user.userEmail" required>
        <label>Senha</label>
        <input type="password" placeholder="Digite uma senha" v-model="user.userPassword" required>

        <label>Custo de Vida</label>
        <input type="number" placeholder="Digite o valor do seu custo de vida" v-model="user.costOfLiving" required>

        <label>Total de Despeza</label>
        <input type="number" placeholder="Digite o total de despeza" v-model="user.totalIncomeUser" required>

        <button class="waves-effect waves-light btn-small">Salvar<i class="material-icons left">save</i></button>

      </form>

      <table>

        <thead>

          <tr>
            <th>ID</th>
            <th>APELIDO</th>
            <th>E-MAIL</th>
            <th>SENHA</th>
            <th>CUSTO DE VIDA</th>
            <th>TOTAL DE DESPESAS</th>
            <th>DATA DE CRIAÇÃO</th>
            <th>DATA DE ATUALIZAÇÃO</th>
            <th>AÇÕES</th>
          </tr>

        </thead>

        <tbody>

          <tr v-for="u of users" :key="u.id">
            <td>{{ u.id }}</td>
            <td>{{ u.userName }}</td>
            <td>{{ u.userEmail }}</td>
            <td>{{ u.userPassword }}</td>
            <td>{{ u.costOfLiving }}</td>
            <td>{{ u.totalIncomeUser }}</td>
            <td>{{ u.createdAt }}</td>
            <td>{{ u.updatedAt }}</td>
            <td>
              <button @click="edit(u)" class="waves-effect btn-small blue darken-1"><i
                  class="material-icons">create</i></button>
              <button @click="remove(u)" class="waves-effect btn-small red darken-1"><i
                  class="material-icons">delete_sweep</i></button>
            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>
</template>

<script>
import User from './services/users'

export default {
  data() {
    return {
      user: {
        id: '',
        userName: '',
        userEmail: '',
        userPassword: '',
        costOfLiving: '',
        totalIncomeUser: ''
      },
      users: [],
      errors: []
    }
  },
  mounted() {
    this.list()
  },
  methods: {
    list() {
      User.list().then(res => {
        this.users = res.data
      }
      )
    },
    save() {
      if (!this.user.id) {
        User.save(this.user).then(res => {
          this.user = {}
          alert('Salvo com sucesso!', res)
          this.list()
        }).catch(e => {
          this.errors = e.response.data.errors
        })
      } else {
        User.update(this.user).then(res => {
          this.user = {}
          alert('Atualizado com sucesso!', res)
          this.list()
        }).catch(e => {
          this.errors = e.response.data.errors
        })
      }
    },
    edit(user) {
      this.user = user
    },
    remove(user) {
      if (confirm("Deseja excluir o produto? ")) {
        User.delete(user).then(res => {
          this.list();
          this.errors = []
          console.log(res)
        }).catch(e => {
          this.errors = e.res.data.errors
        })
      }
    }
  }
}
</script>

<style></style>
