* {
  margin: 0;
  padding: 0;

}

.nav-side-left a{
  border-bottom: 1px solid #3498DB;
}

/* CARDS */
.expense-card, .income-card, .investments-card, .continuos-education-card, .extra-income-card{
  border: 1px solid #3498DB !important;
  margin-bottom: 3%;
}

.card .card-body .card-title small, .card .card-header, .card .card-header{
  color: #A19C9C;
  font-size: 16px;
  margin-right: 1%;
}
.expense-card .card-body .card-title, .income-card .card-body .card-title{
  font-size: 45px;
}


/* EXPENSE CARD */

.expense-card{
  background-color: #FAEDEC !important;
}

/* INCOME CARD */
.income-card{
  background-color: #E3FFEE !important;
}
/* EXTTRA INCOME */

